/* 画面のスタイルシート */
body {
    font-family: "Noto Sans JP","sans-serif";
    margin: 0;
    min-width: 1076px;
}

.color_green {
    color: #00abae ;
}

.subtitle{
    font-size: 32px;
}
/* header */
.brockheader {
    margin: 10px 0;
    padding: 0 20px 10px;
    box-shadow: 0 10px 10px -5px rgba(204, 204, 204, 0.3);
}

.brockheader a {
    font-size: 40px;
    color: #000;
    text-decoration: none;
    letter-spacing: 1px;
}

/* mainタグスタイルシート */
.brockmain{
    text-align: center;
    margin: 100px 0;
}

/* profileスタイルシート */
.itemlist{
    width: 100%;
    max-width: 348px;
    margin: 0 auto;
}

.itemlist b {
    display: block;
    font-size: 24px;
    font-weight: normal;
    margin: 20px 0 30px;
}

.itemlist p {
    font-size: 15px;
    line-height: normal;
    text-align: left;
}

.iconlist {
    list-style: none;
    
    width: 100%;
    max-width: 247px;
    margin: 30px auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconlist li{
    margin-right:  22px;
}

.iconlist li:last-child{
    margin-right: 0;
}

/* worksスタイルシート */
.works{
    margin: 80px 0;
}

.workslist{
    list-style: none;
    width: 100%;
    max-width: 1076;
    margin: 30px auto;
    padding: 0;
    text-align: left;
    overflow: hidden;
}

.workslist li{
    display: block;
    width: 100%;
    max-width: 348px;
    float: left;
    margin-right: 15px;
}

.workslist li:last-child{
    margin-right: 0;
}

.workslist li img{
    width: 100%;
    border: 1px solid #ccc;
}

.workslist li h3{
    font-size: 24px;
    margin: 10px 0;
}

.workslist li span{
    font-size: 18px;
}

.workslist li .link{
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 15px;
}

.workslist li .link a{
    background-color: rgb(226, 226, 226);
    padding: 5px 20px;
    margin-right: 10px;
    font-size: 15px;
    text-decoration: none;
    color: #000;
}

/* footerスタイルシート */

.blockfooter p {
    color: both;
    text-align: center;
    font-size: 15px;
    margin: 50px 0 20px;

}

/* タブレット用スタイルシート 
@media screen and (max-width 767px) {
    
}
*/

@media screen and (max-width: 480px) {
    body {
        min-width: 100%;
    }
/* headerstyle sheet */

.brockheader {

    padding: 0 10px 10px;
    box-shadow: 0 8px 8px -5px rgba(204, 204, 204, 0.3);
}

.brockheader a {
    font-size: 31px;
    
}

/* main スタイルシート */


.brockmain{
   
    margin: 50px 0;
}
/* profileのスタイルシート */
    .profile{
    padding: 0 10px;
    }

    .itemlist{
        max-width: 100%;
    }

    .itemlist b {
        font-size: 18px;
    }

    .iconlist{
        max-width: 100%;
    }

    .iconlist li {
        margin-right: 25px;
    }

    /* worksスタイルシート */

    .works{
        margin: 60px 0 0;
        padding: 0 10px;
    }

    .workslist {
        max-width: 100%;
    }

    .workslist li{
        max-width: 100%;
        float: none;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .workslist h3{
        font-size: 20px;
        margin: 5px 0;
    }

    .workslist span{
        font-size: 14px;
    }
}